*.rar
/WpfApplication2.v12.suo
/.gitignore
/WpfProxyChecker.v12.suo
/WpfApplication2/bin/Release/Settings.json
/WpfApplication2/bin/Release/prxSearcher.vshost.exe.manifest
/WpfApplication2/bin/Release/prxSearcher.vshost.exe.config
/WpfApplication2/bin/Release/prxSearcher.vshost.exe
/WpfApplication2/bin/Release/prxSearcher.pdb
/WpfApplication2/bin/Release/prxSearcher.exe.config
/WpfApplication2/bin/Release/prxSearcher.exe
